blockquote {
    border-left: solid 8px #ccc;
    background-color: #eeeeee;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-justify: center;

}

pre {
    background-color: #efefef;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    overflow: auto;
    word-wrap: normal;
}