{% extends "_base.html" %}

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-8 pt-3">
            <h3>New post</h3>
        </div>
        <div class="col-4 pt-4 text-end">
            <a href="{% url 'board:list' %}" class="btn btn-md btn-primary  ">Blog Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col my-4">
           
        </div>
    </div>
    <div class="row">
        <div class="container">
        <form method="post">
            {% csrf_token %}
            <!-- error start -->
            {% if form.errors %}
            <div class="row alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <div>
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- error End -->
            <div class="row mb-2">
                <div class="col-6">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title" 
                    value="{{ form.title.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-10">
                    <textarea type="text" class="form-control" rows="10" name="content" id="content">{{ form.content.value|default_if_none:'' }} </textarea>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}