{% extends "_base.html" %}
{% load board_filter %} 

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-8 pt-3">
            <h3>Post detail</h3>
        </div>
        <div class="col-4 pt-4 text-end">
            <a href="{% url 'board:list' %}" class="btn btn-md btn-primary  ">Blog Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col my-4">
           
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <h2>{{ Post.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col my-4 text-align-end ">
            {{ Post.created }} by {{ Post.author }}
        </div>
    </div>
    <div class="row">
        <div class="row mb-2">
            <div class="col-10">
                {{ Post.content|mark }}
            </div>
        </div>
    </div>
    <div class="row">
        {% if request.user.is_staff %}
    
        <div class="col-6 mt-5 py-5 border-t border-gray-200">
            <a href="{% url 'board:update' Post.id %}" class="text-blue-500">
                Edit
            </a>
            /
            <a href="{% url 'board:delete' Post.id %}" class="ml-3 text-blue-500">
                Delete
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}