{% extends "_base.html" %}
{% load board_filter %} 

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-8 pt-3">
            <h2>Articles</h2>
        </div>
        <div class="col-4 pt-4 text-end">
            <a href="{% url 'board:create' %}" class="btn btn-md btn-primary  ">Create a article</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 my-4">
            <div class="d-flex">
                <input class="form-control me-2" name="search_kw" id="search_kw" value="{{kw|default_if_none:''}}" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" id="btn_search" type="submit">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <div class="col-md-10">
                {% for post in Boards %}

                    <article class="blog-post">
                        <h2 class="blog-post-title mb-4">{{ post.title }}</h2>
                        <p class="blog-post-meta mb-4 pb-2 border-bottom">{{ post.created|timesince }} ago by <a href="#">{{ post.author }}</a></p>
                        <p>
                            {{ post.content|mark }}
                            <a href="{% url 'board:detail' post.id %}" class="">
                                see detail..
                            </a>
                        </p>
                    
                    </article>
                    <hr/>
                {% endfor %}
              </div>

               
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if Boards.has_previous %}
                <li class="page-item">
                    <a class="page-link" data-page="{{Boards.previous_page_number }}" href="javascript:void(0)">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Previous</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in Boards.paginator.page_range %}
                    {% if page_number >= Boards.number|add:-5 and page_number <= Boards.number|add:5 %}
                        {% if page_number == Boards.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="javascript:void(0)" data-page="{{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" data-page="{{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if Boards.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{Board.next_page_number}}" href="javascript:void(0)">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
                </li>
                {% endif %}
            </ul>
        <!-- 페이징처리 끝 -->
        </div>
        <form id="searchForm" method="get" action="{% url 'board:list' %}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
    </div>
</div>


{% endblock content %}

{% block script %}
    <script type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });
    </script>
{% endblock %}